body {
  position: relative;
  background-image: url("background.png");
}

.lead {
  font-size: 1.5rem;
  text-decoration: none;
}

.container-fluid {
  font-family: 'Open Sans Condensed', sans-serif;
}

.media-body{
  font-size:30px;
}

.fa {
  padding: 20px;
  font-size:50px;
  width: 60px;
  text-align: center;
  text-decoration: none;
}

.fa-file-pdf-o:hover {
  color: #ff0000;
  text-decoration: none;
}

.fa-envelope:hover {
  color: #B23121;
  text-decoration: none;
}

.fa-linkedin:hover {
  color: #007bb5;
  text-decoration: none;
}

.fa-facebook:hover {
  color: #3B5998;
  text-decoration: none;
}

.fa-pinterest:hover {
  color: #cb2027;
  text-decoration: none;
}

.fa-file-pdf-o {
  color: black;
}

.fa-envelope {
  color: black;
}

.fa-linkedin {
  color: black;
}

.fa-facebook {
  color: black;
}

.fa-pinterest {
  color: black;
}
