body {
  position: relative;
  opacity: 1;
  animation: fadeIn 4s ease;
  font-style: "Arial Narrow"
}

.lead {
  font-style: "Arial Narrow"
  font-size: 1.5rem;
  text-decoration: none;
  border-style: solid;
  border-color: white;
  padding: 20px;
  margin: 0px;
}

.container-fluid {
  font-family: "Arial Narrow", sans-serif;
}

.media-body{
  font-size:30px;
}

.fa {
  padding: 20px;
  font-size:30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa-file-pdf-o:hover {
  color: #ff0000;
  text-decoration: none;
}

.fa-envelope-o:hover {
  color: #B23121;
  text-decoration: none;
}

.fa-linkedin:hover {
  color: #007bb5;
  text-decoration: none;
}

.fa-github:hover {
  color: #6e5494;
  text-decoration: none;
}

.fa-file-pdf-o {
  color: white;
}

.fa-envelope-o {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-github {
  color: white;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
