body {
  position: relative;
  opacity: 1;
  animation: fadeIn 4s ease;
  font-family: "Times New Roman", Times, serif;  
  background-color: white;
}

#home {
  max-height: 500px;
  max-width: 500px: 
  margin: 0 auto;
}

.lead {
  font-family: "Times New Roman", Times, serif;  
  font-size: 1.1rem;
  text-decoration: none;
  border-style: solid;
  border-color: white;
  padding: 20px;
  margin: 0px;
}

.media-body{
  font-size:30px;
}

.fa {
  padding: 20px;
  font-size:30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.fa-file-pdf-o:hover {
  color: #ff0000;
  text-decoration: none;
}

.fa-envelope-o:hover {
  color: #B23121;
  text-decoration: none;
}

.fa-linkedin:hover {
  color: #007bb5;
  text-decoration: none;
}

.fa-github:hover {
  color: #6e5494;
  text-decoration: none;
}

.fa-file-pdf-o {
  color: black;
}

.fa-envelope-o {
  color: black;
}

.fa-linkedin {
  color: black;
}

.fa-github {
  color: black;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
